@{
    ViewBag.Title = "Bienvenido";
}
<style>
    #page-content-wrapper {
        position: absolute;
        top: 58px;
        left: 250px;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        background: url(http://www.amsogroup.com/web/wp-content/uploads/2013/11/Amso-Consulting-Firma-Acuerdo-con-Mercur-v1.jpg) 50% 50% no-repeat;
        background-size: cover;
    }

</style>

<h2>Bienvenido a WASS Usuario!</h2>
