@model IEnumerable<Modelos.Persona>

<h2>Alta de Trámite: Seleccionar persona</h2>

<div id="listapersonas">

    <table class="table table-striped">
        <tr>
            <th>
                Nombre y Apellido
            </th>
            <th>
                Documento
            </th>
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreYapellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
            

                <td>
                    @Html.ActionLink("Seleccionar", "SeleccionarPersona", new {id = item.Id })
                   
                    
                </td>
            </tr>
        }


    </table>
</div>

