@model IEnumerable<Modelos.Tramite>

@{
    ViewBag.Title = "WASS- Gestion de Trámites";
}

<h2>Gestion de Trámites</h2>

<p>
    @Html.ActionLink("Añadir", "Create", "Tramite", new { @class = "btn btn-primary" })
</p>


@Html.Action("ListarTramites","Tramite")





