@model IEnumerable<Modelos.Tramite>

@{
    ViewBag.Title = "Gestion de Trámites";
}

<h2>Gestion de Trámites</h2>

<p>
    @Html.ActionLink("Añadir", "Create", "Tramite", new { @class = "btn btn-primary" })
</p>
@using (Ajax.BeginForm(

        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "listatramites"
        }))
{
    <input type="search" name="buscadorTramies" />
    <input type="submit" value="Buscar Tramite" />
}

@Html.Action("ListarTramites","Tramite")





