@model IEnumerable<Modelos.Persona>

@{
    ViewBag.Title = "WASS- Gestión de Personas";
}

<h2>Gestión de Personas</h2>

<p>
    @Html.ActionLink("Añadir", "Create", "Persona", new { @class = "btn btn-primary" })
</p>

   
    @Html.Partial("_ListaPersonas",Model)

